.ag-header {
    // background: map-get($app-colors, esmerald-green) 0% 0% no-repeat padding-box;
    background: green 0% 0% no-repeat padding-box;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    ul {
        font-size: 1.5rem;
        li {
            width: max-content;
            height: 60px;
            margin: 0 1.5vh;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border-bottom: transparent solid 4px;
            &.nav-item,
            &.nav-link {
                &:hover {
                    border-bottom: solid 4px #00d3a4;
                }
            }
        }
    }
    a {
        color: white;
        text-decoration: none;
    }
    .exit-button {
        &:hover {
            // color: map-get($app-colors, title-green);
            border-bottom: 4px solid transparent !important;
            cursor: pointer;
        }
    }
}

.navbar {
    padding: 0;
}

// DROPDOWN
.dropdown {
    &-item {
        padding: .25rem 0rem;
        &.sublime {
            background: none;
            color: white;
            border-bottom: solid 2px #00d3a4 !important;
        }
        &.new {
            &::after {
                content: "novo";
                color: white;
                font-size: 10px;
                background: #00d3a4;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                left: 1rem;
                bottom: 0.2rem;
                min-width: 20px;
                min-height: 10px;
                box-sizing: border-box;
                padding: 4px 5px;
                border-radius: 2px;
            }
        }
    }
    &-menu {
        top: 107%;
        margin-left: -3px;
        border-radius: 0;
        font-size: 1.6rem !important;
        background: #13383d;
        color: #feffff;
        padding: 3rem;
        &[data-bs-popper] {
            margin-top: 0rem;
            &.user {
                right: 0;
                left: -75rem !important;
                border-top: solid 4px #00d3a4;
                top: 56px;
            }
        }
        h4 {
            color: #00d3a4;
            margin-bottom: 3rem;
            // margin-left: 1rem;
            font-size: 1.6rem;
        }
        ul {
            margin: 0 2rem;
            &:first-child {
                margin-left: 0;
            }
            li {
                height: 20px !important;
                margin: 2rem 0 !important;
                white-space: break-spaces;
                a {
                    border-bottom: 2px solid transparent !important;
                    &:hover {
                        background: none;
                        color: white;
                        border-bottom: solid 2px #00d3a4 !important;
                    }
                }
            }
        }
        &.show {
            left: 0px !important;
        }
    }
    &-user {
        line-height: 1.4;
        font-size: 14px;
        font-family: 'Bradesco-Sans';
        &:hover {
            cursor: pointer;
            &:after {
                transform: rotate(180deg);
                transition: all 0.2s ease 0ms;
            }
        }
        .dropdown-item {
            white-space: break-spaces;
        }
        label {
            color: #00d3a4;
        }
        li {
            width: 180px !important;
        }
        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            position: relative;
            bottom: 1rem;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 5px solid #ffffff;
        }
    }
    &:hover {
        cursor: pointer;
    }
}

// MOBILE
@media (max-width: 991.98px) {
    .navbar {
        padding: 0;
    }
    .nav-link,
    .nav-item,
    .nav-button {
        width: 100%;
        text-align: center;
        font-size: 120%;
        border-bottom: solid 1px #034047 !important;
        padding: 2vw 0;
    }
    .dropdown-menu {
        ul {
            margin: 0 0 5rem 0;
            text-align: center;
            li {
                height: 12px !important;
                margin: 0 0 4rem 0 !important;
                font-size: 2.5vw;
            }
        }
        h4 {
            margin: 0;
        }
        margin: 10px 0;
    }
}